use flake

export_alias() {
  local name=$1
  shift
  local alias_dir=$PWD/.direnv/aliases
  local target="$alias_dir/$name"
  local oldpath="$PATH"
  mkdir -p "$alias_dir"
  if ! [[ ":$PATH:" == *":$alias_dir:"* ]]; then
    PATH_add "$alias_dir"
  fi

  echo "#!/bin/sh" > "$target"
  echo "PATH=$oldpath" >> "$target"
  echo "$@" >> "$target"
  chmod +x "$target"
}

export_alias "build" "zig build -Dxproto_header_dir=\$XPROTO_INCLUDE_DIR -Dtarget=x86_64-linux-musl"
export_alias "build_real" "zig build -Dxproto_header_dir=\$XPROTO_INCLUDE_DIR -Dtarget=riscv64-linux-musl"
